/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;400;600;700;800&display=swap'); */

* { box-sizing: border-box;font-family: 'Noto Sans KR', sans-serif;letter-spacing: -0.025em;}

#wrap { background: #E3E3E3;}
.inner { width: 1240px; margin: 0 auto;}
.ft-os { font-family: 'Open Sans';}

#header { width: 100%; height: 200px; background: #562BD1;}
#header .top { display: flex; align-items: center; width: 100%; height: 60px; margin-bottom: 10px;}
#header .top ul { display: flex; align-items: center; margin-left: auto;}
#header .top ul li:not(:first-child) { margin-left: 25px;}
#header .top ul li a { font-size: 14px; font-weight: 500; line-height: 20px; color: #C1ACFF;}

#header .con { display: flex; align-items: center; justify-content: space-between; width: 100%; height: 58px;}
#header .con .sch-box { position:relative; width: 580px; height: 52px; border: 2px solid #FFFFFF; border-radius: 40px;}
#header .con .sch-box form { display: flex; align-items: center; width: 100%; height: 100%; padding: 12px 52px 12px 0;}
#header .con .sch-box .select-box { position: relative; display: flex; align-items: center; justify-content: center; width: 110px; height: 100%; padding-right: 21px; background: url(../img/select-arrow.png) no-repeat right 23px center; border-right: 1px solid #C1ACFF;}
#header .con .sch-box .select-box p { width: 100%; font-size: 18px; font-weight: 500; line-height: 26px; color: #FFFFFF; text-align: center; cursor: pointer;}
#header .con .sch-box .select-box ul { display: none; position: absolute; top: calc(100% + 5px); left: 20px; width: calc(100% - 19px); padding: 10px 15px; background: #FFFFFF; border: 1px solid #CCCCCC; border-radius: 8px; z-index: 101;}
#header .con .sch-box .select-box ul li { font-size: 14px; font-weight: 400; color: #666666; line-height: 25px; padding: 2px 5px; cursor: pointer;}
#header .con .sch-box .select-box ul li:hover { color: #562BD1;}
#header .con .sch-box input { flex: 1 0 auto; font-size: 18px; font-weight: 500; color: #FFFFFF; padding-left: 20px; background-color: transparent; border: none; outline: none;}
#header .con .sch-box input::placeholder { font-weight: 400; color: #C1ACFF;}
#header .con .sch-box .sch-btn { position: absolute; right: 31px; width: 21px; height: 22px; background: url(../img/search.png) no-repeat center; border: none; outline: none;}
#header .con .mb-box .mb-menu { display: flex; align-items: center; width: 264px; height: 50px; padding: 12px 0; background: #4422A5; border-radius: 50px;}
#header .con .mb-box .mb-menu a { display: flex; align-items: center; justify-content: center; flex: 0 0 50%; font-size: 18px; font-weight: 700; line-height: 26px;}
#header .con .mb-box .mb-menu a:first-child { position: relative; color: #FFFFFF;}
#header .con .mb-box .mb-menu a:first-child:after { content: ""; position: absolute; top: 0; right: -.5px; display: block; width: 1px; height: 100%; background: #FFFFFF; opacity: 0.2;}
#header .con .mb-box .mb-menu a:last-child { color: #FDFF8C;}
#header .con .mb-box .mb-info { display: flex; flex-direction: column; align-items: flex-end}
#header .con .mb-box .mb-info .mb,
#header .con .mb-box .mb-info .info { display: flex; align-items: center; justify-content: flex-end;}
#header .con .mb-box .mb-info p { font-size: 14px; font-weight: 500; line-height: 20px; color: #C1ACFF;}
#header .con .mb-box .mb-info p strong { font-weight: 700; color: #FFFFFF;}
#header .con .mb-box .mb-info .mb a { display: flex; align-items: center; justify-content: center; width: 85px; height: 30px; font-size: 14px; font-weight: 700; line-height: 20px; color: #FFFFFF; background: #4422A5; border-radius: 50px;}

#nav { position: relative; margin-top: 8px; padding: 19px 0;}
#mainNav { display: flex; align-items: center; justify-content: space-between;}
#mainNav li { position: relative;}
#mainNav li a { display: flex; align-items: center; justify-content: center; font-size: 18px; font-weight: 700; line-height: 26px; color: #FFFFFF; padding: 0 3px;}
#mainNav li:first-child a { color: #FDFF8C;}
#mainNav li:first-child a img { align-self: flex-start; margin: 2px 0 0 1px;}
#mainNav li a i.icon { width: 19px; height: 19px; background: url(../img/nav-main-19.png) no-repeat center #DF1313; border-radius: 50%; margin-right: 4px;}
#mainNav li:hover:after,
#mainNav li.on:after { content: ""; position: absolute; left: 0; top: calc(100% + 4px); width: 100%; height: 2px; background-color: #7348F0;}

#subNav { position: absolute; top: 100%;}
#subNav .sub-nav { position: absolute; top: 0; left: 0; display: flex; align-items: center; padding: 5px 30px 17px; background: #562BD1; border-radius: 0 0 19px 19px; opacity: 0;}
#subNav .sub-nav.on { opacity: 1; transition: opacity .2s; z-index: 100;}
#subNav .sub-nav li:not(:first-child) { margin-left: 15px;}
#subNav .sub-nav li a { display: flex; align-items: center; justify-content: center; font-size: 16px; font-weight: 500; line-height: 23px; color: #C1ACFF; white-space: nowrap;}
#subNav .sub-nav li a i.icon { width: 21px; height: 21px; background: url(../img/nav-sub-19.png) no-repeat center #DF1313; border-radius: 50%; margin-right: 5px;}
#subNav .sub-nav li:hover a,
#subNav .sub-nav li.on a { color: #FFFFFF;}

#container { padding: 60px 0 0;}
#container .aside { width: 295px;}
#container .aside .coupon-box { display: flex; flex-direction: column; width: 100%; height: 230px; background: #404040; border-radius: 20px; overflow: hidden;}
#container .aside .coupon-box .coupon { display: flex; align-items: center; justify-content: center; flex: 1 0 auto;}
#container .aside .coupon-box a { display: flex; align-items: center; justify-content: center; flex: 0 0 60px; background: #00C2B6; font-size: 18px; font-weight: 700; line-height: 26px; color: #FFFFFF;}
#container .aside .topsch-box { padding: 35px 30px; background: #562BD1; border-radius: 20px;}
#container .aside .topsch-box .title { font-size: 22px;font-weight: 700; line-height: 32px; color: #00FFEE; margin-bottom: 20px;}
#container .aside .topsch-box ul { counter-reset:list-number;}
#container .aside .topsch-box ul li { counter-increment:list-number; display: flex; align-items: center; position: relative; padding-left: 40px; font-size: 16px; font-weight: 500; line-height: 30px; color: #FFFFFF;}
#container .aside .topsch-box ul li::before { font-family: 'Open Sans'; content:counter(list-number); display: flex; align-items: center; justify-content: center; position: absolute; left: 0; width: 21px; height: 21px; font-weight: 700; color: #c1acff; border-radius: 4px;}
#container .aside .topsch-box ul li:nth-child(-n+3)::before { color: #562BD1; background: #00FFEE;}
#container .aside .topsch-box ul li span { margin-left: auto; color: #C1ACFF;}
#container .aside .topsch-box ul li span.stay { font-size: 16px; font-weight: 600; line-height: 30px; padding-right: 8px;}
#container .aside .topsch-box ul li span.down,
#container .aside .topsch-box ul li span.up { font-size: 14px; font-weight: 600; line-height: 1; padding-left: 16px;}
#container .aside .topsch-box ul li span.down { background: url(../img/icon-pop-down.png) no-repeat left center; color: #9C79FF;}
#container .aside .topsch-box ul li span.up { background: url(../img/icon-pop-up.png) no-repeat left center;}
#container .aside .btn-box { width: 100%; height: 236px; background: #FFFFFF; border-radius: 20px;}
#container .aside .btn-box a { display: flex; align-items: center; position: relative; width: 100%; height: 79px; font-size: 18px; font-weight: 500; line-height: 26px; color: #202020; padding-left: 34px;}
#container .aside .btn-box a:not(:last-child) { border-bottom: 1px solid #D0D0D0;}
#container .aside .btn-box a i { margin-right: 18px;}
#container .aside .btn-box a:after { content: ""; position: absolute; top: calc(50% - 7px); right: 65px; width: 9px; height: 14px; background: url(../img/ic_right_arrow.png) no-repeat center;}
#container .aside .custom-box { width: 100%; height: 350px; background: #FFFFFF; border-radius: 20px; padding: 35px 30px 30px;}
#container .aside .custom-box h3.title { font-size: 18px; font-weight: 500; line-height: 26px; color: #202020; margin-bottom: 6px;}
#container .aside .custom-box p.num { font-size: 45px; font-weight: 700; line-height: 61px; color: #00C2B6; margin-bottom: 2px;}
#container .aside .custom-box p.time { display: flex; align-items: center; font-size: 16px; line-height: 30px; color: #404040;}
#container .aside .custom-box p.time storng { font-weight: 700; margin-left: auto;}
#container .aside .custom-box a { display: flex; align-items: center; justify-content: center; width: 100%; height: 46px; border-radius: 100px; font-size: 16px; font-weight: 700; line-height: 23px; color: #FFFFFF;}
#container .aside .custom-box a.inquiry-btn { background: #00C2B6; margin-top: 28px;}
#container .aside .custom-box a.remote-btn { background: #A8A8A8; margin-top: 10px;}
#container .aside .down-box { width: 100%; height: 100px; background: #FFFFFF; border-radius: 20px;}
#container .aside .down-box a { display: flex; align-items: center; width: 100%; height: 100%; padding-left: 25px;}
#container .aside .down-box a i.icon { margin-right: 15px;}
#container .aside .down-box a p { font-size: 16px; line-height: 23px; color: #202020;}
#container .aside .down-box a p strong { display: block; font-size: 20px; font-weight: 700; line-height: 29px;}

#container .contents { width: 925px; margin-left: auto;}

#container .con-fot { background: #FFFFFF; margin-top: 100px; padding: 60px 0 65px;}
#container .con-fot .latest-box { width: calc(100% / 3);}
#container .con-fot .latest-box h3.title { display: flex; align-items: center; font-size: 20px; font-weight: 700; line-height: 29px; color: #202020; margin-bottom: 20px;}
#container .con-fot .latest-box h3.title a { margin-left: 7px;}
#container .con-fot .latest-box ul li a { display: block; font-size: 16px; line-height: 30px; color: #666666;}

#container .contents-box { padding: 56px 50px 60px; background: #FFFFFF; border-radius: 20px;}
#container .contents-box .title-area { display: flex; align-items: center;}
#container .contents-box .title-area h2 { font-size: 28px; font-weight: 700; line-height: 41px; color: #202020;}

#footer { background: #333333; padding: 30px 0 40px;}
#footer .inner { background: url(../img/ft-logo.png) no-repeat right center;}
#footer .ft-menu { display: flex;}
#footer .ft-menu li { display: flex; align-items: center;}
#footer .ft-menu li a { font-size: 16px; line-height: 23px; color: #FFFFFF;}
#footer .ft-menu li:not(:first-child)::before { content: ""; width: 1px; height: 15px; background: #666666; margin: 0 18px;}
#footer address { font-size: 16px; font-style: normal; line-height: 25px; color: #A8A8A8; margin-bottom: 5px;}
#footer p.copy { font-size: 16px; line-height: 25px; color: #A8A8A8;}
#footer p.rule { font-size: 14px; line-height: 25px; color: #D0D0D0; margin-top: 20px;}


/* list */
.contents-box .title-area { position: relative;}
.contents-box .title-area .list-event-box { display: flex; align-items: center; margin-left: auto;}
.contents-box .title-area .list-event-box .adult-check input { display: none;}
.contents-box .title-area .list-event-box .adult-check label { display: flex; align-items: center; justify-content: center; border: 1px solid #D0D0D0; border-radius: 2px; padding: 8px 12px; font-size: 14px; line-height: 20px; color: #404040; cursor: pointer;}
.contents-box .title-area .list-event-box .adult-check label i.icon { width: 20px; height: 17px; background: url(../img/ic_adult_check.png) no-repeat center; margin-right: 3px;}
.contents-box .title-area .list-event-box .adult-check input:checked + label { border-color: #562BD1; color: #562BD1;}
.contents-box .title-area .list-event-box .adult-check input:checked + label i.icon { background: url(../img/ic_adult_check_on.png) no-repeat center;}
.contents-box .title-area .list-event-box .type-check { display: flex; align-items: center;}
.contents-box .title-area .list-event-box .type-check input { display: none;}
.contents-box .title-area .list-event-box .type-check label { width: 36px; height: 36px; cursor: pointer;}
.contents-box .title-area .list-event-box .type-check label.list { background: url(../img/ic_list_off.png) no-repeat center;}
.contents-box .title-area .list-event-box .type-check label.gallery { background: url(../img/ic_gallery_off.png) no-repeat center;}
.contents-box .title-area .list-event-box .type-check input:checked + label.list { background: url(../img/ic_list_on.png) no-repeat center;}
.contents-box .title-area .list-event-box .type-check input:checked + label.gallery { background: url(../img/ic_gallery_on.png) no-repeat center;}
.contents-box .title-area .list-event-box .upload-btn { display: flex; align-items: center; justify-content: center; font-size: 14px; font-weight: 500; line-height: 20px; color: #FFFFFF; background: #00C2B6; border-radius: 2px; padding: 8px 19px;}
.contents-box .title-area .upload-area { display: none; position: absolute; top: calc(100% + 3px); right: 0; width: 580px; height: 489px; padding: 50px 40px 40px; background: #333333; box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.25); border-radius: 12px; z-index: 2;}
.contents-box .title-area .upload-area .upload-close { position: absolute; top: 15px; right: 15px;}
.contents-box .title-area .upload-area p.title { font-size: 20px; font-weight: 700; line-height: 29px; color: #6BFFF5; margin-bottom: 30px;}
.contents-box .title-area .upload-area p.title span { display: block; font-size: 16px; font-weight: 400; line-height: 23px; color: #D0D0D0; margin-top: 2px;}
.contents-box .title-area .upload-area .cate-box { display: flex; justify-content: space-between;}
.contents-box .title-area .upload-area .cate-box .depth-box { width: 240px; height: 315px; padding: 15px 10px; background: #404040; border-radius: 4px;}
.contents-box .title-area .upload-area .cate-box .depth-box ul { width: 100%; height: 100%; padding: 0 14px; overflow-y: auto;}
.contents-box .title-area .upload-area .cate-box .depth-box ul::-webkit-scrollbar { width: 4px; border-radius: 4px;}
.contents-box .title-area .upload-area .cate-box .depth-box ul::-webkit-scrollbar-thumb { width: 4px; background-color: #A8A8A8; border-radius: 4px;}
.contents-box .title-area .upload-area .cate-box .depth-box ul::-webkit-scrollbar-track { background-color: #666666; border-radius: 4px;}
.contents-box .title-area .upload-area .cate-box .depth-box ul li { margin-bottom: 14px;}
.contents-box .title-area .upload-area .cate-box .depth-box ul li:last-child { margin-bottom: 0;}
.contents-box .title-area .upload-area .cate-box .depth-box ul li a { display: block; font-size: 16px; line-height: 28px; color: #D0D0D0; text-align: center; border-radius: 30px;}
.contents-box .title-area .upload-area .cate-box .depth-box.dep1 ul li a:hover,
.contents-box .title-area .upload-area .cate-box .depth-box.dep1 ul li a.active { color: #FFFFFF; background: #00E0D2;}
.contents-box .title-area .upload-area .cate-box .depth-box.dep2 ul li a { color: #888888;}
.contents-box .title-area .upload-area .cate-box .depth-box.dep2 ul li a:hover { font-weight: 700; color: #FFFFFF;}
.contents-box .title-area .upload-area .cate-box .depth-box .info { display: flex; align-items: center; justify-content: center; height: 100%;}
.contents-box .title-area .upload-area .cate-box .depth-box .info p { font-size: 16px; line-height: 24px; color: #888888; text-align: center;}
.contents-box .title-area .upload-area .cate-box .depth-box .info p strong { font-weight: 400; color: #FFFFFF;}

.contents-box .list-tab-menu ul { display: flex; align-items: center; position: relative; z-index: 1;}
.contents-box .list-tab-menu ul::after { content: ""; position: absolute; left: 0; bottom: 0; width: 100%; border-bottom: 2px solid #333333;}
.contents-box .list-tab-menu ul li a { display: flex; align-items: center; justify-content: center; position: relative; width: 80px; height: 50px; border: 1px solid #D0D0D0; border-bottom: none; border-radius: 8px 8px 0 0; font-size: 16px; font-weight: 700; line-height: 22px; color: #888888; cursor: pointer;}
.contents-box .list-tab-menu ul li:not(:first-child) { margin-left: 2px;}
.contents-box .list-tab-menu ul li a.on { color: #202020; border: 2px solid #333333; border-bottom-color: #FFFFFF; z-index: 1;}
.contents-box .list-tab-menu + .lists-box { margin-top: -2px;}

.contents-box .lists-box ul.lists { display: flex; flex-direction: column; border-top: 2px solid #333333; }
.contents-box .lists-box ul.lists li { display: flex; align-items: center; height: 65px; border-bottom: 1px solid #D0D0D0;}
.contents-box .lists-box ul.lists li .checkbox { display: none;}
.contents-box .lists-box ul.lists li p.no { flex: 0 0 55px; font-size: 16px; font-weight: 700; line-height: 22px; text-align: center; color: #562BD1; margin-right: 9px;}
.contents-box .lists-box ul.lists li .img { position: relative; flex: 0 0 45px; height: 45px; border-radius: 50%; overflow: hidden;}
.contents-box .lists-box ul.lists li .img img { width: 100%; height: 100%;}
.contents-box .lists-box ul.lists li .img .adult-box { position: absolute; top: 0; left: 0; display: none; width: 100%; height: 100%; background: url(../img/list-adult-text.png) no-repeat center rgba(86, 43, 209, .9);}
.contents-box .lists-box ul.lists li .title { display: flex; align-items: center; width: calc(100% - 314px); font-size: 16px; font-weight: 500; color: #404040; margin-left: 15px;}
.contents-box .lists-box ul.lists li .title p { white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.contents-box .lists-box ul.lists li .title .icon-adult { display: none; width: 19px; height: 19px; vertical-align: middle; background: url(../img/adult-19.png) no-repeat center; margin-right: 6px;}
.contents-box .lists-box ul.lists li .title .icon-new { display: inline-block; width: 12px; height: 13px; vertical-align: middle; background: url(../img/ic_title_new.png) no-repeat center; margin-left: 6px;}
.contents-box .lists-box ul.lists li .size { flex: 0 0 100px; font-size: 14px; line-height: 19px; color: #666666; margin-left: auto; text-align: center;}
.contents-box .lists-box ul.lists li .cate { flex: 0 0 86px; font-size: 14px; line-height: 19px; color: #666666; text-align: center;}

.contents-box .lists-box.gallery-type ul.lists { flex-wrap: wrap; flex-direction: row;}
.contents-box .lists-box.gallery-type ul.lists li { position: relative; flex-direction: column; border: none; width: calc((100% - 24px) / 4); height: auto; margin: 40px 8px 5px 0;}
.contents-box .lists-box.gallery-type ul.lists li:nth-child(4n) { margin-right: 0;}
.contents-box .lists-box.gallery-type ul.lists li .checkbox { display: block; position: absolute; top: 6px; right: 6px; z-index: 1;}
.contents-box .lists-box.gallery-type ul.lists li .checkbox label { padding-left: 15px;}
.contents-box .lists-box.gallery-type ul.lists li .checkbox label::before { width: 15px; height: 15px;}
.contents-box .lists-box.gallery-type ul.lists li p.no { display: none;}
.contents-box .lists-box.gallery-type ul.lists li .img { flex: 0 0 auto; width: 100%; height: 123px; border-radius: 5px;}
.contents-box .lists-box.gallery-type ul.lists li .img .adult-box { background-image: url(../img/gallery-adult-text.png);}
.contents-box .lists-box.gallery-type ul.lists li .title { width: 100%; margin: 15px 0 20px;}
.contents-box .lists-box.gallery-type ul.lists li .title p { display:-webkit-box; white-space: inherit; -webkit-box-orient:vertical; word-wrap:break-word; -webkit-line-clamp:2;}
.contents-box .lists-box.gallery-type ul.lists li .title .icon-new { display: none;}
.contents-box .lists-box.gallery-type ul.lists li .size { flex: 0 0 auto; margin-left: 0; margin-right: auto;}
.contents-box .lists-box.gallery-type ul.lists li .cate { display: none;}

.contents-box .lists-box ul.lists li.adult .adult-box { display: block;}
.contents-box .lists-box ul.lists li.adult .icon-adult { display: inline-block;}

/* btn */
.btn-primary { background: #7348F0; color: #FFFFFF;}

/* checkbox */
.checkbox label { position: relative; display: block; font-size: 14px; line-height: 20px; color: #404040; padding-left: 30px; cursor: pointer;}
.checkbox label::before { content: ""; position: absolute; top: 0; left: 0; display: block; width: 20px; height: 20px; background: url(../img/check.png) no-repeat center; background-size: 100%; border-radius: 3px;}
.checkbox input[type="checkbox"] { display: none;}
.checkbox input[type="checkbox"]:checked + label { color: #562BD1;}
.checkbox input[type="checkbox"]:checked + label::before { background: url(../img/check-on.png) no-repeat center; background-size: 100%;}

/* tab-manu */
.contents-box .tab-menu ul { display: flex; align-items: center; position: relative; z-index: 1;}
.contents-box .tab-menu ul::after { content: ""; position: absolute; left: 0; bottom: 0; width: 100%; border-bottom: 2px solid #562BD1;}
.contents-box .tab-menu ul li a { display: flex; align-items: center; justify-content: center; position: relative; height: 60px; background: #F5F5F5; border: 1px solid #F5F5F5; border-bottom: none; border-radius: 8px 8px 0 0; font-size: 16px; font-weight: 700; line-height: 22px; color: #888888; cursor: pointer;}
.contents-box .tab-menu ul li:not(:first-child) { margin-left: 2px;}
.contents-box .tab-menu ul li a.on { color: #562BD1; background: #FFFFFF; border: 2px solid #562BD1; border-bottom-color: #FFFFFF; z-index: 1;}

.contents-box [data-tabCon] { display: none;}
.contents-box [data-tabCon].on { display: block;}

/* list-table */
.list-table .btn-group { display: flex; align-items: center; justify-content: flex-end; margin-bottom: 10px;}
.list-table .btn-group button { font-size: 14px; text-align: center; color: #404040; margin-left: 5px; padding: 8px 12px; background: transparent; border: 1px solid #D0D0D0; border-radius: 2px; outline: none;}
.list-table table { width: 100%; table-layout: fixed;}
.list-table table th { height: 50px; font-size: 16px; text-align: center; color: #666666; border-top: 1px solid #D0D0D0; border-bottom: 1px solid #D0D0D0; vertical-align: middle;}
.list-table table td { height: 53px; font-size: 16px; text-align: center; color: #404040; border-bottom: 1px solid #D0D0D0; vertical-align: middle;}
.list-table table td .subject { display: block; text-align: left;}
.list-table table td.empty { height: 177px; font-size: 16px; font-weight: 500; line-height: 23px; color: #A8A8A8; text-align: center; background: #F5F5F5;}
.list-table table .checkbox { display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;}
.list-table table .checkbox label { width: 20px; height: 20px;}

/* paging */
.contents-box .paging-container { display: flex; justify-content: center; width: 100%;}
.contents-box .paging-container .paging-box { display: flex; align-items: center;}
.contents-box .paging-container .paging-box a.prev,
.contents-box .paging-container .paging-box a.next { width: 36px; height: 36px; border: 1px solid #D0D0D0; border-radius: 50%; background: url(../img/icon-paging-off.png) no-repeat center;}
.contents-box .paging-container .paging-box a.prev:hover,
.contents-box .paging-container .paging-box a.next:hover { background: url(../img/icon-paging-on.png) no-repeat center;}
.contents-box .paging-container .paging-box a.next { transform: rotate(180deg);}
.contents-box .paging-container .paging-box a.prev:hover { transform: rotate(180deg);}
.contents-box .paging-container .paging-box a.next:hover { transform: rotate(0);}
.contents-box .paging-container .paging-box a { font-family: 'Open Sans'; position: relative; font-size: 15px; line-height: 20px; color: #202020; margin: 0 10px;}
.contents-box .paging-container .paging-box a:hover { color: #562BD1;}
.contents-box .paging-container .paging-box a.on:after { content: ""; position: absolute; top: 100%; left: 50%; display: block; width: 12px; height: 2px; background: #6F4DCF; transform: translateX(-50%);}

/* modal */
.blocker { position: fixed; top: 0; right: 0; bottom: 0; left: 0; display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; overflow: auto; z-index: 1000; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: rgba(0, 0, 0, 0.5); -webkit-transition: background-color .2s; transition: background-color .2s;}
.blocker:before { content: ""; display: inline-block; height: 100%; vertical-align: middle; margin-right: -0.05em;}
.blocker.behind { background-color: transparent;}
.blocker.transparent { background-color: transparent;}
.modal { display: none; vertical-align: middle; position: relative; background: #FFFFFF; border-radius: 20px; z-index: 1000;}
.modal .close-btn { position: absolute; top: 15px; right: 15px;}
.modal .modal-logo { text-align: center; margin: 0 auto 25px; padding: 60px 0 0;}
.modal .modal-logo span { display: block; font-size: 15px; font-weight: 500; line-height: 22px; color: #562BD1; text-align: center; margin-top: 10px;}
.modal .input-box { position: relative; width: 100%; height: 54px; border: 1px solid #D0D0D0; border-radius: 27px; overflow: hidden;}
.modal .input-box input { width: 100%; height: 100%; padding: 0 30px; font-size: 16px; font-weight: 400; color: #333333; line-height: 23px; border: none; outline: none;}
.modal .input-box input::placeholder { color: #A8A8A8;}
.modal .input-box p.info { position: absolute; right: 30px; top: 50%; font-size: 16px; line-height: 23px; color: rgba(30, 195, 0, 1); transform: translateY(-50%);}
.modal .input-box p.info.not { color: rgba(224, 46, 46, 1);}

/* login modal */
#loginModal { width: 555px;}
#loginModal .login-box { padding: 0 35px 40px; text-align: center;}
#loginModal .login-box .input-box { margin-bottom: 10px;}
#loginModal .login-box [class*="btn-"] { width: 100%; height: 54px; font-size: 18px; font-weight: 700; border: none; border-radius: 27px; outline: none;}
#loginModal .util { display: flex; align-items: center; margin-top: 15px; padding: 0 20px;}
#loginModal .util .find-link { font-size: 14px; line-height: 20px; color: #404040; margin-left: auto;}
#loginModal .dividing { display: block; width: 100%; height: 1px; background: #E3E3E3; margin: 33px 0 35px; border: none;}
#loginModal .sns-info-text { font-size: 16px; line-height: 23px; color: #888888;}
#loginModal .sns-link { display: flex; align-items: center; justify-content: center; margin: 27px 0 35px;}
#loginModal .join-link { position: relative; font-size: 14px; font-weight: 700; line-height: 20px; color: #6435E9;}
#loginModal .join-link::after { content: ""; position: absolute; top: calc(100% + 4px); left: 0; display: block; width: 100%; height: 1px; background: #7348F0;}

/* join modal */
#joinModal { width: 685px;}
#joinModal .join-box { padding: 0 60px 0;}
#joinModal .join-box .input-box { margin-bottom: 10px;}
#joinModal .join-box [class*="btn-"] { width: 100%; height: 54px; font-size: 18px; font-weight: 700; border: none; border-radius: 27px; outline: none;}
#joinModal .join-box .sns-box { display: flex; margin: 30px 0;}
#joinModal .join-box .sns-box p { font-size: 14px; line-height: 20px; color: #A8A8A8; text-align: left;}
#joinModal .join-box .sns-box p strong { display: block; font-size: 18px; font-weight: 500; line-height: 26px; color: #333333; margin-bottom: 5px;}
#joinModal .join-box .sns-box .sns-link { margin-left: auto;;}
#joinModal .join-box .sns-box .sns-link a { margin-left: 14px;}
#joinModal .join-agree-box { background: #F5F5F5; padding: 25px 60px 35px;}
#joinModal .join-agree-box #agreeAll + label { font-weight: 500; color: #333333;}
#joinModal .join-agree-box .agree-boxs { display: flex; justify-content: space-between; margin-top: 14px;}
#joinModal .join-agree-box .agree-boxs .agree { width: calc(50% - 7px);}
#joinModal .join-agree-box .agree-boxs .agree textarea { width: 100%; height: 80px; font-size: 12px; line-height: 17px; color: #888888; border: 1px solid #E3E3E3; border-radius: 4px; margin-bottom: 15px; padding: 13px 15px; outline: none; resize: none;}

/* find modal */
#findModal { width: 555px; height: 650px;}
#findModal .title { font-size: 20px; font-weight: 700; color: #562BD1; line-height: 29px; text-align: center; margin-bottom: 40px; padding-top: 55px;}
#findModal .find-box { padding: 0 30px 30px;}
#findModal .tab-menu { margin-bottom: 30px;}
#findModal .tab-menu ul { display: flex; align-items: center; position: relative; z-index: 1;}
#findModal .tab-menu ul::after { content: ""; position: absolute; left: 0; bottom: 0; width: 100%; border-bottom: 2px solid #562BD1;}
#findModal .tab-menu ul li { width: calc(50% - 3px);}
#findModal .tab-menu ul li a { display: flex; align-items: center; justify-content: center; position: relative; height: 50px; border: 1px solid #D0D0D0; border-bottom: none; border-radius: 8px 8px 0 0; font-size: 16px; font-weight: 700; line-height: 22px; color: #888888; cursor: pointer;}
#findModal .tab-menu ul li:not(:first-child) { margin-left: 6px;}
#findModal .tab-menu ul li a.on { color: #562BD1; background: #FFFFFF; border: 2px solid #562BD1; border-bottom-color: #FFFFFF; z-index: 1;}
#findModal [data-tabCon] { display: none;}
#findModal [data-tabCon].on { display: block;}
#findModal .sub-tab { display: flex; margin-bottom: 30px;}
#findModal .sub-tab li a { display: flex; align-items: center; justify-content: center; width: 140px; height: 40px; font-size: 16px; font-weight: 500; line-height: 23px; color: #A8A8A8; background: #F5F5F5; border: 1px solid #E3E3E3; border-radius: 2px;}
#findModal .sub-tab li a.on { color: #FFFFFF; background: #6435E9; border-color: #6435E9;}
#findModal .sub-tab li:not(:first-child) { margin-left: 5px;}
#findModal .radio { display: inline-flex;}
#findModal .radio input { display: none;}
#findModal .radio label { display: flex; align-items: center; font-size: 16px; line-height: 23px; color: #333333; cursor: pointer;}
#findModal .radio label i { display: flex; align-items: center; justify-content: center; width: 20px; height: 20px; border: 1px solid #D0D0D0; border-radius: 50%; margin-right: 8px;}
#findModal .radio input:checked + label i { border-color: #562BD1;}
#findModal .radio input:checked + label i::after { content: ""; width: 14px; height: 14px; background: #562BD1; border-radius: 50%;}
#findModal .form-box { margin-top: 20px; padding: 25px 30px; background: #F5F5F5; border-radius: 4px;}
#findModal .form-box p { flex: 0 0 78px; font-size: 16px; color: #202020; line-height: 23px;}
#findModal .form-box input { flex: 1 0 auto; height: 42px; font-size: 16px; line-height: 23px; color: #404040; padding: 0 14px; border: 1px solid #E3E3E3; background: #FFFFFF; border-radius: 4px; outline: none;}
#findModal .form-box input.email { flex: 0 0 auto; width: 165px;}
#findModal .form-box select { width: 80px; height: 42px; font-size: 16px; line-height: 23px; color: #404040; padding: 0 14px; border: 1px solid #E3E3E3; background: url(../img/arrow-down-wh-s.png) no-repeat calc(100% - 12px) center #FFFFFF; border-radius: 4px; outline: none; appearance:none;}
#findModal .form-box select#year { width: 101px;}
#findModal .sub-tab-con p.info { font-size: 14px; line-height: 20px; color: #888888; margin-top: 15px;}
#findModal .sub-tab-con p.info strong { font-weight: 400; color: #404040;}
#findModal .sub-tab-con button[type="submit"] { display: block; width: 265px; height: 54px; font-size: 18px; font-weight: 700; color: #FFFFFF; background: #202020; border: none; border-radius: 27px; margin: 40px auto 0; outline: none;}
#findModal #nameTab { display: none;}
#findModal .find-complete .comple-tit { font-size: 18px; line-height: 26px; color: #202020; text-align: center; margin-bottom: 30px;}
#findModal .find-complete .comple-box { padding: 30px; background: #F5F5F5; border-radius: 4px; text-align: center; margin-bottom: 15px;}
#findModal .find-complete .comple-box p { font-size: 18px; line-height: 26px; color: #333333;}
#findModal #findPs .find-complete .comple-box p { font-size: 16px; line-height: 23px;}
#findModal .find-complete .comple-box p strong { font-weight: 600; color: #562BD1; text-decoration: underline;}
#findModal .find-complete .comple-box p b { font-weight: 500; color: #202020;}
#findModal .find-complete .comple-box p span { display: inline-block; margin-top: 15px; color: #562BD1;}
#findModal .find-complete .btn-box { display: flex; align-items: center; justify-content: center; margin-top: 40px;}
#findModal .find-complete .btn-box a { display: flex; align-items: center; justify-content: center; width: 133px; height: 54px; font-size: 18px; font-weight: 700; color: #FFFFFF; background: #202020; border: none; border-radius: 27px;}
#findModal .find-complete .btn-box a.cancel { background: #A8A8A8; margin-right: 14px;}

/* 본인인증 모달 */
#authenticationModal { width: 680px; height: 483px;}
#authenticationModal .modal-con { padding: 60px 35px 0;}
#authenticationModal .title { font-size: 22px; font-weight: 700; line-height: 32px; color: #202020; text-align: center; margin-bottom: 15px;}
#authenticationModal .info { font-size: 16px; line-height: 23px; color: #404040; text-align: center; margin-bottom: 35px;}
#authenticationModal .box { display: flex; padding: 25px 0; background: #F5F5F5; border-radius: 18px;}
#authenticationModal .box > div { display: flex; flex-direction: column; align-items: center; justify-content: center; width: calc(100% / 3);}
#authenticationModal .box > div:nth-child(2) { border-left: 1px solid #E3E3E3; border-right: 1px solid #E3E3E3;}
#authenticationModal .box > div p { font-size: 16px; line-height: 23px; color: #404040; margin-top: 10px;}
#authenticationModal .box > div a.btn { display: flex; align-items: center; justify-content: center; width: 127px; height: 38px; font-size: 16px; font-weight: 700; line-height: 23px; color: #FFFFFF; margin-top: 9px; background: #00C2B6; border-radius: 19px;}

/* 결제정보 모달 */
#paymentModal { width: 685px; padding: 50px 40px;}
#paymentModal .modal-title { font-size: 22px; font-weight: 700; line-height: 32px; color: #202020; margin-bottom: 30px;}
#paymentModal .info-box { display: flex; justify-content: space-between; flex-wrap: wrap; width: 100%; padding: 35px 30px 30px; background: #F5F5F5; border-radius: 12px 12px 0 0;}
#paymentModal .info-box .title { font-size: 16px; font-weight: 500; line-height: 23px; color: #202020; margin-bottom: 15px;}
#paymentModal .info-box .product-box,
#paymentModal .info-box .config-box { width: 260px;}
#paymentModal .info-box .product-box .product { display: flex; align-items: center; justify-content: center; width: 260px; height: 50px; padding: 0 20px; background: #FFFFFF; border: 1px solid #4422A5; border-radius: 4px;}
#paymentModal .info-box .product-box .product p { font-size: 16px; font-weight: 500; line-height: 23px; color: #4422A5;}
#paymentModal .info-box .product-box .product strong { font-size: 16px; font-weight: bold; line-height: 23px; color: #4422A5; margin-left: auto;}
#paymentModal .info-box .config-box .config { padding: 15px 20px 15px 17px; background: #FFFFFF; border-radius: 4px;}
#paymentModal .info-box.point .config-box .config li { display: flex; align-items: center; margin-bottom: 12px;}
#paymentModal .info-box.point .config-box .config li:last-child { margin-bottom: 0;}
#paymentModal .info-box.point .config-box .config li p { display: flex; align-items: center; font-weight: 500; font-size: 14px; line-height: 20px; padding-left: 3px;}
#paymentModal .info-box.point .config-box .config li p img { margin-right: 5px;}
#paymentModal .info-box.point .config-box .config li strong { font-size: 16px; font-weight: 600; line-height: 22px; color: #404040; margin-left: auto;}
#paymentModal .info-box.point .config-box .config li p.point { color: #FF3D6B;}
#paymentModal .info-box.point .config-box .config li p.bonus { color: #FAA500;}
#paymentModal .info-box.point .config-box .config li p.sbonus { color: #6335E8;}
#paymentModal .info-box.point .config-box .config li p.free { color: #0788FF; padding-left: 0;}
#paymentModal .info-box.point .config-box .config li p.free img { margin-right: 3px;}
#paymentModal .info-box.pass .config-box .config li { display: grid; grid-template-columns: 0 1fr; grid-gap: 12px; align-items: start; font-size: 16px; font-weight: 400; line-height: 23px; color: #666666; word-break: keep-all;}
#paymentModal .info-box.pass .config-box .config li::before { content: attr(data-icon);}
#paymentModal .payment-price { display: flex; align-items: center; width: 100%; height: 80px; padding: 0 30px; background: #4422A5; border-radius: 0 0 12px 12px;}
#paymentModal .payment-price p { font-size: 18px; font-weight: 500; line-height: 26px; color: #FFFFFF;}
#paymentModal .payment-price strong { display: flex; align-items: flex-end; font-size: 35px; font-weight: 700; line-height: 48px; color: #FFFFFF; margin-left: auto;}
#paymentModal .payment-price strong span { font-size: 18px; font-weight: 500; line-height: 26px; color: #FFFFFF; margin-left: 4px;}
#paymentModal .pay-method { margin-top: 40px;}
#paymentModal .pay-method p { font-size: 16px; font-weight: 500; line-height: 23px; color: #4422A5; margin-bottom: 20px;}
#paymentModal .pay-method ul { display: flex; flex-wrap: wrap;}
#paymentModal .pay-method ul li { display: flex; align-items: center; justify-content: center; width: 112px; height: 50px; margin-top: 10px; font-size: 14px; font-weight: 500; line-height: 20px; color: #666666; background: #F5F5F5; border: 1px solid #D0D0D0; border-radius: 4px; cursor: pointer;}
#paymentModal .pay-method ul li:not(:nth-child(5n)) { margin-right: 10px;}
#paymentModal .pay-method ul li.on { color: #562BD1; border-color: #562BD1;}



