

/* 이벤트 */
.event .tab-menu ul li { width: calc(50% - 1px);}
.event .tab-menu ul li a { height: 60px;}
.event .event-list { display: flex; flex-wrap: wrap; padding-top: 40px;}
.event .event-list li { width: calc((100% - 25px) / 2);}
.event .event-list li:nth-child(even) { margin-left: 25px;}
.event .event-list li:not(:nth-child(-n+2)) { margin-top: 50px;}
.event .event-list li .img { width: 100%; height: 180px; margin-bottom: 20px;}
.event .event-list li .img img { width: 100%; height: 100%;}
.event .event-list li .tit { font-size: 18px; font-weight: 700; line-height: 26px; color: #202020; margin-bottom: 10px;}
.event .event-list li .period,
.event .event-list li .con { display: flex; align-items: center; font-size: 16px; line-height: 28px; color: #404040;}
.event .event-list li .period span,
.event .event-list li .con span { color: #562BD1; margin-right: 10px;}
.event .tab-contents .no-data { display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 200px 0 290px;}
.event .tab-contents .no-data p { font-size: 18px; line-height: 26px; color: #A8A8A8; margin-top: 30px;}


/* 고객센터 */
.customer .tab-menu ul li { width: calc((100% - 6px) / 3);}
.customer .tab-menu ul li a { height: 60px;}
.customer .tab-contents#faq { padding-top: 50px;}
.customer .tab-contents#notice,
.customer .tab-contents#inquiry { padding-top: 40px;}
.customer .tab-contents h3.title { font-size: 20px; font-weight: 700; line-height: 29px; color: #202020;}
.customer .tab-contents#faq h3.title { text-align: center; margin-bottom: 25px;}
.customer .tab-contents#notice h3.title { margin-bottom: 20px;}
.customer .tab-contents#inquiry h3.title { margin-bottom: 10px;}
.customer .tab-contents .sch-box { position:relative; width: 564px; height: 50px; border: 2px solid #F5F5F5; border-radius: 40px; margin: 0 auto 40px;}
.customer .tab-contents .sch-box input { width: 100%; height: 100%; font-size: 16px; font-weight: 500; line-height: 23px; color: #333333; padding-left: 30px; background-color: transparent; border: none; outline: none;}
.customer .tab-contents .sch-box input::placeholder { font-weight: 400; color: #A8A8A8;}
.customer .tab-contents .sch-box .sch-btn { position: absolute; top: 50%; right: 25px; width: 30px; height: 30px; background: url(../img/search-wh.png) no-repeat center; transform: translateY(-50%); border: none; outline: none;}
.customer .tab-contents .list-cate { display: flex; align-items: center; margin-bottom: 40px;}
.customer .tab-contents .list-cate li { display: flex; align-items: center;}
.customer .tab-contents .list-cate li:not(:last-child):after { content: ""; display: block; width: 6px; height: 6px; background: #E3E3E3; border-radius: 50%; margin: 0 20px;}
.customer .tab-contents .list-cate li a { position: relative; font-size: 16px; line-height: 23px; color: #666666; padding: 0 5px;}
.customer .tab-contents .list-cate li a.on { font-weight: 500; color: #333333;}
.customer .tab-contents .list-cate li a.on:after { content: ""; display: block; position: absolute; top: calc(100% + 6px); left: 0; width: 100%; height: 4px; background: #333333;}


.accordion-list { border-top: 1px solid #D0D0D0;}
.accordion-list .accordion-item { border-bottom: 1px solid #D0D0D0;}
.accordion-list .accordion-contents { display: flex; align-items: flex-start; background: #F5F5F5; border-top: 1px solid #D0D0D0;}
.accordion-list .accordion-contents p { font-size: 16px; line-height: 24px; color: #666666;}
.accordion-list .accordion-btn { display: flex; align-items: center; cursor: pointer;}
.accordion-list .accordion-btn .title { display: flex; align-items: center; font-size: 16px; color: #333333;}
.accordion-list .accordion-btn .title p { white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.accordion-list .accordion-contents { display: none;}
.accordion-list .accordion-item.no-data .accordion-btn { cursor: default !important;}
.accordion-list .accordion-item.no-data .title { width: 100% !important; font-weight: 400 !important;}

.faq .tab-menu ul li,
.notice .tab-menu ul li,
.inquiry .tab-menu ul li { width: calc((100% - 6px) / 3);}
.faq .tab-menu ul li a,
.notice .tab-menu ul li a,
.inquiry .tab-menu ul li a { height: 60px;}
.faq .faq-contents { padding-top: 50px;}
.notice .notice-contents,
.inquiry .inquiry-contents { padding-top: 40px;}
.faq h3.title,
.notice h3.title,
.inquiry h3.title { font-size: 20px; font-weight: 700; line-height: 29px; color: #202020;}
.faq h3.title { text-align: center; margin-bottom: 25px;}
.notice h3.title { margin-bottom: 20px;}
.inquiry h3.title { margin-bottom: 10px;}
.faq .faq-contents .sch-box { position:relative; width: 564px; height: 50px; border: 2px solid #F5F5F5; border-radius: 40px; margin: 0 auto 40px;}
.faq .faq-contents .sch-box input { width: 100%; height: 100%; font-size: 16px; font-weight: 500; line-height: 23px; color: #333333; padding-left: 30px; background-color: transparent; border: none; outline: none;}
.faq .faq-contents .sch-box input::placeholder { font-weight: 400; color: #A8A8A8;}
.faq .faq-contents .sch-box .sch-btn { position: absolute; top: 50%; right: 25px; width: 30px; height: 30px; background: url(../img/search-wh.png) no-repeat center; transform: translateY(-50%); border: none; outline: none;}
.faq .faq-contents .list-cate { display: flex; align-items: center; margin-bottom: 40px;}
.faq .faq-contents .list-cate li { display: flex; align-items: center;}
.faq .faq-contents .list-cate li:not(:last-child):after { content: ""; display: block; width: 6px; height: 6px; background: #E3E3E3; border-radius: 50%; margin: 0 20px;}
.faq .faq-contents .list-cate li a { position: relative; font-size: 16px; line-height: 23px; color: #666666; padding: 0 5px;}
.faq .faq-contents .list-cate li a.on { font-weight: 500; color: #333333;}
.faq .faq-contents .list-cate li a.on:after { content: ""; display: block; position: absolute; top: calc(100% + 6px); left: 0; width: 100%; height: 4px; background: #333333;}

.faq .accordion-list .accordion-btn { height: 71px;}
.faq .accordion-list .accordion-btn p.type { flex: 0 0 135px; text-align: center; font-size: 16px; line-height: 23px; color: #888888;}
.faq .accordion-list .accordion-btn .title { display: flex; align-items: center; width: calc(100% - 203px); font-weight: 500;}
.faq .accordion-list .accordion-btn .title i { font-weight: 700; color: #00C2B6; margin-right: 8px;}
.faq .accordion-list .accordion-btn .accordion-icon { position: relative; flex: 0 0 18px; height: 18px; margin-left: auto; margin-right: 25px;}
.faq .accordion-list .accordion-btn .accordion-icon .hotizontal,
.faq .accordion-list .accordion-btn .accordion-icon .vertical { transition: all .25s ease-in-out; transform: rotate(-90deg);}
.faq .accordion-list .accordion-btn .accordion-icon .hotizontal { position: absolute; top: 50%; left: 50%; margin-left: -9px; margin-top: -1px; width: 18px; height: 2px; background: #D0D0D0;}
.faq .accordion-list .accordion-btn .accordion-icon .vertical { position: absolute; top: 50%; left: 50%; margin-left: -1px; margin-top: -9px; width: 2px; height: 18px; background: #D0D0D0;}
.faq .accordion-list .accordion-contents { padding: 30px 60px 45px 135px;}
.faq .accordion-list .accordion-contents i { font-weight: 700; color: #FF3D6B; margin-right: 9px;}
.faq .accordion-list .accordion-item.active .accordion-btn .accordion-icon .hotizontal,
.faq .accordion-list .accordion-item.active .accordion-btn .accordion-icon .vertical { background: #666666; transform: rotate(270deg);}
.faq .accordion-list .accordion-item.active .accordion-btn .accordion-icon .hotizontal { opacity: 0;}

.notice .accordion-list .accordion-btn { height: 60px;}
.notice .accordion-list .accordion-btn p.no { flex: 0 0 75px; text-align: center; font-size: 14px; line-height: 19px; color: #888888; margin-right: 5px;}
.notice .accordion-list .accordion-btn p.title { width: calc(100% - 215px);}
.notice .accordion-list .accordion-item.noti .title { font-weight: 500;}
.notice .accordion-list .accordion-btn p.date { flex: 0 0 140px; font-size: 14px; line-height: 19px; color: #888888; text-align: center; margin-left: auto;}
.notice .accordion-list .accordion-contents { padding: 30px 60px 45px 80px;}

.inquiry .info-text { font-size: 16px; line-height: 23px; color: #666666; margin-bottom: 30px;}
.inquiry .inquiry-list { border-top: 1px solid #D0D0D0; margin-bottom: 15px;}
.inquiry .inquiry-list .inquiry-item { border-bottom: 1px solid #D0D0D0;}
.inquiry .inquiry-list .inquiry-contents { display: flex; align-items: flex-start; background: #F5F5F5; border-top: 1px solid #D0D0D0;}
.inquiry .inquiry-list .inquiry-contents p { font-size: 16px; line-height: 24px; color: #666666;}
.inquiry .inquiry-list .inquiry-btn { display: flex; align-items: center; cursor: pointer;}
.inquiry .inquiry-list .inquiry-btn .title { display: flex; align-items: center; font-size: 16px; color: #333333;}
.inquiry .inquiry-list .inquiry-btn .title p { white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.inquiry .inquiry-list .inquiry-contents { display: none;}
.inquiry .inquiry-list .inquiry-item.no-data .inquiry-btn { cursor: default !important;}
.inquiry .inquiry-list .inquiry-item.no-data .title { width: 100% !important; font-weight: 400 !important;}
.inquiry .inquiry-list .th { display: flex; align-items: center; height: 50px; padding-right: 20px;}
.inquiry .inquiry-list .th p { font-size: 16px; font-weight: 500; line-height: 23px; color: #666666; text-align: center;}
.inquiry .inquiry-list .inquiry-btn { height: 60px; padding-right: 20px;}
.inquiry .inquiry-list p.no { flex: 0 0 75px; text-align: center; font-size: 14px; line-height: 19px; color: #888888;}
.inquiry .inquiry-list p.type { flex: 0 0 150px; text-align: center; font-size: 14px; line-height: 19px; color: #666666;}
.inquiry .inquiry-list .title { width: calc(100% - 417px);}
.inquiry .inquiry-list p.date { flex: 0 0 140px; font-size: 14px; line-height: 19px; color: #888888; text-align: center; margin-left: auto}
.inquiry .inquiry-list .state { flex: 0 0 72px;}
.inquiry .inquiry-list .state span { display: flex; align-items: center; justify-content: center; width: 72px; height: 32px; font-size: 14px; line-height: 20px; color: #666666; border-radius: 4px; background: #E3E3E3;}
.inquiry .inquiry-list .state.cmp span { color: #FFFFFF; background: #00C2B6;}
.inquiry .request-btn { display: flex; align-items: center; justify-content: center; width: 130px; height: 50px; font-size: 16px; font-weight: 700; line-height: 23px; color: #FFFFFF; border: none; background: #202020; border-radius: 4px; outline: none;}

.inquiry .inquiry-type { display: flex; margin-bottom: 20px;}
.inquiry .inquiry-type button { font-size: 16px; line-height: 23px; color: #404040; margin-right: 10px; padding: 11px 25px; background: #FFFFFF; border: 1px solid #D0D0D0; border-radius: 23px;}
.inquiry .inquiry-type button.on { color: #FFFFFF; border-color: #404040; background-color: #404040;}
.inquiry .inquiry-type button:last-child { margin-right: 0;}
.inquiry .inquiry-check { padding: 30px 25px; margin-bottom: 30px; border: 1px solid #E3E3E3; border-radius: 4px;}
.inquiry .inquiry-check .radio-item { display: flex; align-items: center; margin-bottom: 18px;}
.inquiry .inquiry-check .radio-item .title { width: 138px; font-size: 16px; font-weight: 500; line-height: 23px; color: #562BD1;}
.inquiry .inquiry-check .radio-item .radio { display: flex; align-items: center; margin-right: 20px;}
.inquiry .inquiry-check .radio-item .radio:last-child { margin-right: 0;}
.inquiry .inquiry-check .radio-item .radio input[type="radio"] { display: none;}
.inquiry .inquiry-check .radio-item .radio label { display: flex; align-items: center; position: relative; font-size: 16px; line-height: 23px; color: #666666; padding-left: 28px; cursor: pointer;}
.inquiry .inquiry-check .radio-item .radio label::before { content:""; position: absolute; top: 0; left: 0; display: block; width: 20px; height: 20px; border: 1px solid #D0D0D0; border-radius: 50%;}
.inquiry .inquiry-check .radio-item .radio label::after { content:""; position: absolute; top: 4px; left: 4px; display: block; width: 14px; height: 14px; background: #FFFFFF;border-radius:50%;}
.inquiry .inquiry-check .radio-item .radio input[type="radio"]:checked + label::before { border-color: #562BD1;}
.inquiry .inquiry-check .radio-item .radio input[type="radio"]:checked + label::after { background-color: #562BD1;}
.inquiry .inquiry-check .radio-item .radio input[type="radio"]:disabled + label::before,
.inquiry .inquiry-check .radio-item .radio input[type="radio"]:disabled + label::after { background: #F5F5F5;}
.inquiry .inquiry-check hr { border-top: 1px solid #E3E3E3; margin: 30px 0;}
.inquiry .inquiry-check .check-item .title-box { display: flex; align-items: center; margin-bottom: 16px;}
.inquiry .inquiry-check .check-item .title-box p { font-size: 16px; font-weight: 500; line-height: 23px; color: #404040; margin-right: 15px;}
.inquiry .inquiry-check .check-item .title-box .checkbox label { font-size: 16px; line-height: 23px; color: #333333;}
.inquiry .inquiry-check .check-item input[type="text"] { width: 195px; height: 45px; font-size: 16px; line-height: 23px; color: #333333; margin-left: 10px; padding: 0 15px; background: #FFFFFF; border: 1px solid #E3E3E3; border-radius: 4px; outline: none;}
.inquiry .inquiry-check .check-item input[type="text"]::placeholder { color: #A8A8A8;}
.inquiry .inquiry-check .check-item input[type="text"]:disabled { background: #F5F5F5;}
.inquiry .write-box input { width: 100%; height: 50px; font-size: 16px; line-height: 23px; color: #404040; padding: 0 20px; border: 1px solid #E3E3E3; border-radius: 4px; outline: none;}
.inquiry .write-box input::placeholder { color: #A8A8A8;}
.inquiry .write-box .write { width: 100%; height: 442px; border: 1px solid #E3E3E3;}
.inquiry .write-box .write textarea { width: 100%; height: 100%; font-size: 16px; line-height: 23px; color: #404040; padding: 20px; border: none; outline: none;}
.inquiry .write-box .upload { padding: 10px 20px; border: 1px solid #E3E3E3;}
.inquiry .write-box .upload .img-box { display: flex; align-items: center; flex-wrap: wrap; padding: 10px 0 0;}
.inquiry .write-box .upload .img-box .img { position: relative; width: 58px; height: 58px; border: 1px solid #E3E3E3; margin-right: 18px; margin-bottom: 10px;}
.inquiry .write-box .upload .img-box .img:nth-child(10n) { margin-right: 0;}
.inquiry .write-box .upload .img-box .img img { width: 100%; height: 100%;}
.inquiry .write-box .upload .img-box .img .del-btn { position: absolute; top: -7px; right: -9px;}
.inquiry .write-box .upload .btn-box { display: flex; align-items: center;}
.inquiry .write-box .upload .btn-box p { font-size: 14px; line-height: 20px; color: #A8A8A8;}
.inquiry .write-box .upload .btn-box p span { color: #E02E2E;}
.inquiry .write-box .upload .btn-box .file-box { margin-left: auto;}
.inquiry .write-box .upload .btn-box .file-box label { display: flex; align-items: center; justify-content: center; width: 117px; height: 40px; font-size: 14px; font-weight: 700; line-height: 20px; color: #FFFFFF; background: #00C2B6; border-radius: 2px;}
.inquiry .write-box .upload .btn-box .file-box input { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; border: none;}
.inquiry .answer-box { margin-top: 33px;}
.inquiry .answer-box .title-box { display: flex; align-items: center; margin-bottom: 16px;}
.inquiry .answer-box .title-box p { font-size: 16px; font-weight: 500; line-height: 23px; color: #202020; margin-right: auto;}
.inquiry .answer-box .title-box .checkbox { display: flex; align-items: center;}
.inquiry .answer-box .title-box .checkbox label { width: 20px; height: 20px;}
.inquiry .answer-box .title-box .checkbox a { font-size: 16px; line-height: 23px; color: #404040; text-decoration: underline;}
.inquiry .answer-box .alarm-box { display: flex; padding: 25px; background: #F5F5F5; border: 1px solid #E3E3E3; border-radius: 4px;}
.inquiry .answer-box .alarm-box .checkbox.tit label { font-size: 16px; font-weight: 500; line-height: 23px; color: #404040; margin-bottom: 14px;}
.inquiry .answer-box .alarm-box .guide-box { margin-bottom: 12px;}
.inquiry .answer-box .alarm-box .guide-box li { display: grid; grid-template-columns: 0 1fr; grid-gap: 12px; align-items: start; font-size: 13px; font-weight: 400; line-height: 23px; color: #666666; word-break: keep-all;}
.inquiry .answer-box .alarm-box .guide-box li::before { content: attr(data-icon);}
.inquiry .answer-box .alarm-box .input-box input { font-size: 16px; line-height: 23px; color: #404040; background: #FFFFFF; border: 1px solid #E3E3E3; border-radius: 4px; outline: none;}
.inquiry .answer-box .alarm-box .phone { width: 50%; padding-bottom: 15px; border-right: 1px solid #E3E3E3;}
.inquiry .answer-box .alarm-box .phone .input-box { position: relative; width: 250px; height: 42px;}
.inquiry .answer-box .alarm-box .phone .input-box input { width: 100%; height: 100%; padding-left: 110px;}
.inquiry .answer-box .alarm-box .phone .input-box span { position: absolute; left: 40px; top: 12px; font-size: 14px; line-height: 20px; color: #666666;}
.inquiry .answer-box .alarm-box .email { display: flex; flex-direction: column; width: 50%; padding-left: 25px;}
.inquiry .answer-box .alarm-box .email .input-box { display: flex; align-items: center;}
.inquiry .answer-box .alarm-box .email .input-box input,
.inquiry .answer-box .alarm-box .email .input-box select { width: 165px; height: 42px;}
.inquiry .answer-box .alarm-box .email .input-box select { font-size: 16px; line-height: 23px; color: #404040; padding: 0 15px; border: 1px solid #E3E3E3; background: url(../img/arrow-down-wh-s.png) no-repeat calc(100% - 20px) center #FFFFFF; border-radius: 4px; outline: none; appearance:none; cursor: pointer;}
.inquiry .answer-box .alarm-box .email .input-box span { font-size: 16px; color: #202020; margin: 0 5px;}
.inquiry .btn-box { display: flex; align-items: center; justify-content: center; margin-top: 40px;}
.inquiry .btn-box .cancel-btn,
.inquiry .btn-box .regist-btn { display: flex; align-items: center; justify-content: center; width: 163px; height: 50px; font-size: 16px; font-weight: 400; line-height: 23px; text-align: center; border: none; border-radius: 25px; outline: none;}
.inquiry .btn-box .cancel-btn { color: #888888; background: #E3E3E3;}
.inquiry .btn-box .regist-btn { color: #FFFFFF; background: #202020;}
.inquiry .view-box .top-box { display: flex; align-items: center; height: 102px; padding: 0 20px; border-top: 1px solid #202020; border-bottom: 1px solid #D0D0D0;}
.inquiry .view-box .top-box .subject-box { flex: 1 0 auto;}
.inquiry .view-box .top-box .subject-box .subject { font-size: 18px; font-weight: 500; line-height: 26px; color: #333333; margin-bottom: 6px;}
.inquiry .view-box .top-box .subject-box .etc { display: flex; align-items: center;}
.inquiry .view-box .top-box .subject-box .etc .type { font-size: 14px; line-height: 20px; color: #666666;}
.inquiry .view-box .top-box .subject-box .etc .line { display: block; width: 1px; height: 15px; background: #E3E3E3;}
.inquiry .view-box .top-box .subject-box .etc .date { font-size: 14px; line-height: 19px; color: #888888;}
.inquiry .view-box .top-box .state { flex: 0 0 72px;}
.inquiry .view-box .top-box .state span { display: flex; align-items: center; justify-content: center; width: 72px; height: 32px; font-size: 14px; line-height: 20px; color: #666666; border-radius: 4px; background: #E3E3E3;}
.inquiry .view-box .top-box .state.cmp span { color: #FFFFFF; background: #00C2B6;}
.inquiry .view-box .con-box { margin-bottom: 40px; padding: 30px 20px; border-bottom: 1px solid #D0D0D0;}
.inquiry .view-box .con-box .text-box { min-height: 268px; font-size: 16px; line-height: 26px; color: #404040; word-break: keep-all;}
.inquiry .view-box .con-box .btn { display: flex; align-items: center; justify-content: center; margin: 0 auto; width: 201px; height: 50px; font-size: 16px; font-weight: 700; line-height: 23px; color: #FFFFFF; background: #562BD1; border-radius: 25px;}
.inquiry .view-box .list-btn { display: flex; align-items: center; justify-content: center; margin: 0 auto 40px; width: 163px; height: 50px; font-size: 16px; font-weight: 700; line-height: 23px; color: #FFFFFF; background: #202020; border-radius: 25px;}
.inquiry .view-box .comment { }
.inquiry .view-box .comment .info { font-size: 14px; font-weight: 500; line-height: 20px; color: #562BD1; margin-left: 10px;}
.inquiry .view-box .comment .create-box { display: flex; width: 100%; height: 87px; margin: 18px 0 15px; border: 1px solid #E3E3E3; border-radius: 12px; overflow: hidden;}
.inquiry .view-box .comment .create-box textarea { width: 88%; height: 100%; font-size: 14px; font-weight: 400; color: #333333; line-height: 23px; padding: 15px 20px; border: none; outline: none; resize: none;}
.inquiry .view-box .comment .create-box textarea::placeholder { font-size: 14px; color: #A8A8A8;}
.inquiry .view-box .comment .create-box input { width: 12%; height: 100%; font-size: 16px; font-weight: 700; line-height: 23px; color: #FFFFFF; text-align: center; background: #00C2B6; border: none; outline: none; cursor: pointer;}
.inquiry .view-box .comment table { width: 100%; table-layout: fixed;}
.inquiry .view-box .comment table th,
.inquiry .view-box .comment table td { height: 50px; font-size: 14px; line-height: 20px; text-align: left; border-bottom: 1px solid #E3E3E3; vertical-align: middle;}
.inquiry .view-box .comment table th { font-weight: 700; color: #404040; padding-left: 20px;}
.inquiry .view-box .comment table td { color: #666666;}
.inquiry .view-box .score-box { display: flex; align-items: center; justify-content: center; flex-direction: column; margin-top: 50px; padding: 30px 0; background: #F5F5F5; border: 1px solid #E3E3E3; border-radius: 12px;}
.inquiry .view-box .score-box p { font-size: 16px; line-height: 26px; color: #666666;}
.inquiry .view-box .score-box p strong { display: block; margin-bottom: 2px; font-size: 18px; font-weight: 500; color: #202020;}
.inquiry .view-box .score-box p span { color: #562BD1;}
.inquiry .view-box .score-box .blind { position: absolute; overflow: hidden; margin: -1px; padding: 0; width: 1px; height: 1px; border: none; clip: rect(0, 0, 0, 0);}
.inquiry .view-box .score-box .score { display: flex; position: relative; margin-top: 18px; width: 170px; height: 34px; overflow: hidden; background-color: #D0D0D0;}
.inquiry .view-box .score-box .score:after { content: ""; display: block; position: absolute; left: 0; width: 100%; height: 34px; background: url(../img/star_none2.png) repeat-x left center; z-index: 1; pointer-events: none;}
.inquiry .view-box .score-box .score .score-label { position: relative; width: 17px; height: 34px; z-index: 1; cursor: pointer;}
.inquiry .view-box .score-box .score .score-label input { position: absolute; width: 0; height: 0; opacity: 0;}
.inquiry .view-box .score-box .score .score-label .score-img { display: block; position: absolute; right: 0; width: 170px; height: 34px; pointer-events: none;}
.inquiry .view-box .score-box .score .score-label input:checked + .score-img { background: #6435E9;}



/* 마이페이지 */
.mypage .my-info-box { display: flex; flex-wrap: wrap;  padding: 40px 40px 35px; border: 1px solid #E3E3E3; margin-bottom: 50px;}
.mypage .my-info-box .info { display: flex; flex: 0 0 100%; margin-bottom: 30px;}
.mypage .my-info-box .info .mb-info { margin-right: auto;}
.mypage .my-info-box .info .mb-info strong { font-size: 22px; font-weight: 700; line-height: 32px; color: #333333; margin-bottom: 6px;}
.mypage .my-info-box .info .mb-info strong span { color: #562BD1;}
.mypage .my-info-box .info .mb-info p { font-size: 16px; line-height: 23px; color: #666666; margin-bottom: 15px;}
.mypage .my-info-box .info .mb-info a { font-size: 14px; line-height: 20px; text-decoration: underline; color: #ABABAB;}
.mypage .my-info-box .info .state { display: flex; flex-direction: column; align-items: center; justify-content: center; margin-right: 30px;}
.mypage .my-info-box .info .state:last-child { margin-right: 40px;}
.mypage .my-info-box .info .state span { font-size: 15px; line-height: 22px; color: #888888; margin-bottom: 5px;}
.mypage .my-info-box .info .state p { font-size: 18px; font-weight: 500; line-height: 26px; color: #333333; margin-bottom: 12px;}
.mypage .my-info-box .info .state a { font-size: 14px; line-height: 20px; color: #562BD1; padding: 4px 12px; border: 1px solid #562BD1; border-radius: 28px;}
.mypage .my-info-box .point,
.mypage .my-info-box .pass { display: flex; flex-direction: column; flex: 0 0 calc((100% - 20px) / 2); height: 167px; padding-top: 20px; background: #F5F5F5; border-radius: 12px; overflow: hidden;}
.mypage .my-info-box .pass { margin-left: 20px;}
.mypage .my-info-box .point p,
.mypage .my-info-box .pass p { display: flex; align-items: center; font-size: 16px; line-height: 30px; color: #404040; padding: 0 30px;}
.mypage .my-info-box .point p strong,
.mypage .my-info-box .pass p strong { font-size: 20px; font-weight: 600; line-height: 30px; color: #202020; margin-left: auto;}
.mypage .my-info-box .point p strong span,
.mypage .my-info-box .pass p strong span { font-size: 16px; font-weight: 400; line-height: 30px; margin-left: 6px;}
.mypage .my-info-box .point a,
.mypage .my-info-box .pass a { display: flex; align-items: center; justify-content: center; width: 100%; height: 40px; font-size: 16px; font-weight: 700; color: #FFFFFF; margin-top: auto;}
.mypage .my-info-box .point a { background: #562BD1;}
.mypage .my-info-box .pass a { background: #333333;}
.mypage .tab-menu ul li { width: calc((100% - 8px) / 5);}
.mypage .tab-contents { padding-top: 30px;}
.mypage .sub-tab { display: flex; align-items: center; margin-bottom: 30px;}
.mypage .sub-tab li a { display: flex; align-items: center; justify-content: center; width: 160px; height: 45px; font-size: 16px; font-weight: 400; color: #404040; border: 1px solid #D0D0D0; border-radius: 30px;}
.mypage .sub-tab li a.on { color: #FFFFFF; background: #404040; border-color: #404040;}
.mypage .sub-tab li { margin-right: 10px;}
.mypage .sub-tab-con { display: none;}
.mypage .sub-tab-con.on { display: block;}
.mypage .sub-tab-con h3 { font-size: 22px; font-weight: 700; line-height: 32px; color: #333333; margin-bottom: 24px;}
.mypage .sub-tab-con .guide-box { width: 100%; padding: 30px; background: #F5F5F5; border-radius: 12px; margin-bottom: 40px;}
.mypage .sub-tab-con .guide-box li { display: grid; grid-template-columns: 0 1fr; grid-gap: 12px; align-items: start; font-size: 15px; font-weight: 400; line-height: 30px; color: #666666; word-break: keep-all;}
.mypage .sub-tab-con .guide-box li::before { content: attr(data-icon);}

/* 쿠폰등록 */
.coupon .coupon-box { position: relative; width: 825px; height: 1094px; background: url(../img/coupon_img.png) no-repeat center;}
.coupon .input-box { position: absolute; top: 669px; left: 40px; width: 744px; height: 74px; background: #FFFFFF; border: 3px solid #4048D5; border-radius: 15px;}
.coupon .input-box input { width: 100%; height: 100%; padding: 0 190px 0 35px; font-size: 25px; font-weight: 700; color: #333333; line-height: 34px; border: none; border-radius: 15px; outline: none;}
.coupon .input-box button { position: absolute; top: -3px; right: -3px; width: 154px; height: 74px; font-size: 25px; font-weight: 700; line-height: 34px; color: #FFFFFF; background: #4048D5; border: none; border-radius: 0 15px 15px 0; outline: none;}

/* 판매자 신청 */
.seller .seller-box { position: relative; width: 825px; height: 1024px; background: url(../img/seller_img.png) no-repeat center;}
.seller .seller-box .btn { display: flex; align-items: center; justify-content: center; position: absolute; top: 653px; left: 216px; width: 393px; height: 80px; font-size: 25px; font-weight: 700; line-height: 34px; color: #FFFFFF; background: #1D2679; border-radius: 19px;}

/* 판매자 등록 */
.seller-form .seller-box .sub-tit { font-size: 18px; font-weight: 700; line-height: 26px; color: #562BD1; margin-bottom: 15px;}
.seller-form .seller-box p.info { font-size: 16px; line-height: 26px; color: #666666; margin-bottom: 30px;}
.seller-form .seller-box .text-box { padding: 30px 25px; background: #F5F5F5; border-radius: 12px; margin-bottom: 30px;}
.seller-form .seller-box .text-box P { font-size: 14px; line-height: 24px; color: #666666;}
.seller-form .seller-box .check-text { position: relative; font-size: 16px; line-height: 26px; color: #404040; margin-bottom: 15px; padding-left: 21px; word-break: keep-all;}
.seller-form .seller-box .check-text::before { content: ""; position: absolute; top: 4px; left: 0; display: block; width: 16px; height: 16px; background: url(../img/ic_info_check.png) no-repeat center;}
.seller-form .seller-box .checkbox { text-align: center; margin: 50px 0;}
.seller-form .seller-box .checkbox label { display: inline-block; font-size: 18px; line-height: 26px;}
.seller-form .seller-box .checkbox label::before { top: 3px;}
.seller-form .seller-from { display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 40px 0 50px; border: 5px solid #E3E3E3; border-radius: 12px;}
.seller-form .seller-from p.label { font-size: 18px; font-weight: 500; line-height: 26px; color: #202020;}
.seller-form .seller-from .input-box { position: relative; width: 400px; height: 50px; margin-bottom: 40px; border: 1px solid #E3E3E3; border-radius: 25px;}
.seller-form .seller-from .input-box input { width: 100%; height: 100%; padding: 0 30px; font-size: 16px; font-weight: 400; color: #333333; line-height: 23px; text-align: center; border: none; border-radius: 25px; outline: none;}
.seller-form .seller-from .input-box span { position: absolute; top: 56px; left: 0; right: 0; display: block; font-size: 13px; line-height: 19px; color: #E02E2E; text-align: center;}
.seller-form .seller-from span.info { font-size: 14px; line-height: 20px; color: #666666;}
.seller-form .seller-from .btn { display: flex; align-items: center; justify-content: center; width: 165px; height: 46px; font-size: 16px; font-weight: 700; line-height: 23px; color: #FFFFFF; margin: 0 5px; background: #00C2B6; border-radius: 23px;}
.seller-form .regist-btn { display: flex; align-items: center; justify-content: center; width: 198px; height: 54px; font-size: 16px; font-weight: 700; line-height: 23px; color: #FFFFFF; background: #202020; border-radius: 27px; margin: 30px auto 0;}

/* 출석체크 */
.attendance .attendance-box { position: relative; padding: 712px 35px 40px; background: url(../img/attendance-img.png) no-repeat top center #F1F1F1;}
.attendance .attendance-box p.day { position: absolute; top: 316px; right: 333px; font-size: 20px; font-weight: 700; line-height: 27px; color: #6435E9;}
.attendance .attendance-box .btn { position: absolute; top: 400px; left: 251px; display: flex; align-items: center; justify-content: center; width: 323px; height: 76px; font-size: 25px; font-weight: 700; line-height: 34px; color: #FFFFFF; background: #5E5BF9; border-radius: 38px;}
.attendance .attendance-box .calender-box { width: 100%; background: #FFFFFF; border-radius: 22px; overflow: hidden;}
.attendance .attendance-box .calender-box .month-box { display: flex; align-items: center; justify-content: center; height: 60px; background: #5E5BF9;}
.attendance .attendance-box .calender-box .month-box p { font-size: 20px; font-weight: 700; color: #FFFFFF; margin: 0 70px;}
.attendance .attendance-box .calender-box .calender { width: 100%; padding: 10px 30px 32px;}
.attendance .attendance-box .calender-box .calender table { width: 100%;}
.attendance .attendance-box .calender-box .calender table th { height: 53px; font-size: 16px; font-weight: 500; line-height: 23px; color: #333333; vertical-align: middle;}
.attendance .attendance-box .calender-box .calender table td { height: 100px; padding: 6px 10px; font-size: 13px; line-height: 18px; color: #333333; border: 1px solid #E3E3E3;}
.attendance .attendance-box .calender-box .calender table td.check { background: url(../img/attendance-check.png) no-repeat center;}
.attendance .notice { padding: 35px; background: #838383; border-radius: 0 0 12px 12px;}
.attendance .notice p { font-size: 15px; line-height: 30px; color: #C8C8C8;}
.attendance .notice p strong { display: block; font-size: 16px; font-weight: 700; line-height: 23px; color: #FFFFFF; margin-bottom: 4px;}

/* 요청자료 */
.request .request-box .request-info { margin-bottom: 35px;}
.request .request-box .request-info p { display: grid; grid-template-columns: 0 1fr; grid-gap: 12px; align-items: start; font-size: 16px; font-weight: 400; line-height: 26px; color: #666666; word-break: keep-all;}
.request .request-box .request-info p::before { content: attr(data-icon); color: #202020;}
.request .request-box .request-tab { display: flex; align-items: center; margin-bottom: 30px;}
.request .request-box .request-tab li:not(:last-child) { margin-right: 8px;}
.request .request-box .request-tab li a { display: flex; align-items: center; justify-content: center; height: 38px; padding: 0 16px; font-size: 16px; font-weight: 700; line-height: 23px; color: #888888; border-radius: 18px;}
.request .request-box .request-tab li a.on { color: #202020; border: 2px solid #333333;}
.request .request-box .accordion-list { margin-bottom: 15px;}
.request .request-box .accordion-list .th { display: flex; align-items: center; height: 50px; padding-right: 20px;}
.request .request-box .accordion-list .th p { font-size: 16px; font-weight: 500; line-height: 23px; color: #666666; text-align: center;}
.request .request-box .accordion-list .accordion-btn { height: 60px; padding-right: 20px;}
.request .request-box .accordion-list p.no { flex: 0 0 75px; text-align: center; font-size: 14px; line-height: 19px; color: #888888;}
.request .request-box .accordion-list p.type { flex: 0 0 150px; text-align: center; font-size: 14px; line-height: 19px; color: #666666;}
.request .request-box .accordion-list .title { width: calc(100% - 417px);}
.request .request-box .accordion-list p.date { flex: 0 0 140px; font-size: 14px; line-height: 19px; color: #888888; text-align: center; margin-left: auto}
.request .request-box .accordion-list .state { flex: 0 0 72px;}
.request .request-box .accordion-list .state span { display: flex; align-items: center; justify-content: center; width: 72px; height: 32px; font-size: 14px; line-height: 20px; color: #666666; border-radius: 4px; background: #E3E3E3;}
.request .request-box .accordion-list .state.cmp span { color: #FFFFFF; background: #00C2B6;}
.request .request-box .search-form { display: flex; align-items: center;}
.request .request-box .search-form select { width: 113px; height: 50px; font-size: 16px; line-height: 23px; color: #404040; padding: 0 20px; border: 1px solid #E3E3E3; background: url(../img/arrow-down-wh-s.png) no-repeat calc(100% - 20px) center #FFFFFF; border-radius: 4px; outline: none; appearance:none; cursor: pointer;}
.request .request-box .search-form .input-box { position: relative; width: 300px; height: 50px; border: 1px solid #E3E3E3; border-radius: 4px;}
.request .request-box .search-form .input-box input { width: 100%; height: 100%; font-size: 16px; line-height: 23px; color: #404040; padding: 0 50px 0 20px; border-radius: 4px; border: none; outline: none;}
.request .request-box .search-form .input-box .sch-btn { position: absolute; right: 15px; width: 30px; height: 100%; background: url(../img/search-wh2.png) no-repeat center; border: none; outline: none;}
.request .request-box .search-form .request-btn { width: 130px; height: 50px; font-size: 16px; font-weight: 700; line-height: 23px; color: #FFFFFF; border: none; background: #202020; border-radius: 4px; outline: none;}

/* 포인트 충전샵 */
.shop .tab-menu { margin-bottom: 40px;}
.shop .tab-menu ul li { width: calc(50% - 1px);}
.shop .tab-menu ul li a { height: 60px;}
.shop .banner { width: 100%; height: 200px; border-radius: 12px; overflow: hidden;}
.shop .point-shop .info { display: flex; align-items: center; justify-content: flex-end; margin: 30px 0;}
.shop .point-shop .info li { display: flex; align-items: center; justify-content: center; font-size: 16px; font-weight: 500; line-height: 23px; color: #404040; margin-left: 10px;}
.shop .point-shop .info li img { margin-left: 5px;}
.shop .point-shop .shop-box { display: flex; align-items: center; position: relative; height: 178px; margin-left: 73px; margin-bottom: 24px; padding: 14px 0; border: 1px solid #D0D0D0; border-radius: 12px;}
.shop .point-shop .shop-box .point-circle { display: flex; align-items: center; flex-direction: column; position: absolute; top: 15px; left: -73px; width: 149px; height: 150px; background: url(../img/point-circle.png) no-repeat center; padding-top: 40px; font-size: 16px; font-weight: 500; line-height: 23px; color: #4422A5;}
.shop .point-shop .shop-box .point-circle strong { font-size: 26px; font-weight: 700; line-height: 1; margin-top: 5px;}
.shop .point-shop .shop-box .point-circle strong span { font-size: 23px; font-weight: 600;}
.shop .point-shop .shop-box .point { display: flex; align-items: center; justify-content: center; position: relative; width: 101px; height: 101px; margin-left: 107px; font-size: 20px; font-weight: 700; line-height: 1; color: #FF3D6B; background: rgba(255, 61, 107, 0.2); border-radius: 50%;}
.shop .point-shop .shop-box .point span { font-size: 16px; font-weight: 600;}
.shop .point-shop .shop-box .point img { position: absolute; top: -5px; left: -5px;}
.shop .point-shop .shop-box .payment { margin-left: auto; padding: 20px 30px 0; border-left: 1px dashed #E3E3E3; text-align: center;}
.shop .point-shop .shop-box .payment p { font-size: 16px; font-weight: 500; line-height: 23px; color: #202020;}
.shop .point-shop .shop-box .payment strong { font-size: 30px; font-weight: 700; line-height: 36px; color: #202020;}
.shop .point-shop .shop-box .payment strong span { font-size: 18px; font-weight: 400;}
.shop .point-shop .shop-box .payment .btn { display: flex; align-items: center; justify-content: center; width: 189px; height: 45px; margin-top: 12px; font-size: 16px; font-weight: 700; line-height: 23px; color: #FFFFFF; background: #562BD1; border-radius: 23px;}
.shop .point-shop .shop-box .plus-icon { margin: 0 26px;}
.shop .point-shop .shop-box .benefit p { display: flex; align-items: center; justify-content: center; width: 198px; height: 38px; padding-left: 24px; font-size: 20px; font-weight: 700; line-height: 1; border-radius: 19px;}
.shop .point-shop .shop-box .benefit p span { font-size: 16px; font-weight: 400;}
.shop .point-shop .shop-box .benefit p.bonus { color: #FAA500; background: url(../img/B.png) no-repeat 16px center rgba(250, 165, 0, 0.2); margin-bottom: 3px;}
.shop .point-shop .shop-box .benefit p.sbonus { color: #6335E8; background: url(../img/SB.png) no-repeat 16px center rgba(99, 53, 232, 0.2); margin-bottom: 3px;}
.shop .point-shop .shop-box .benefit p.free { color: #0788FF; background: url(../img/C.png) no-repeat 14px center rgba(22, 143, 255, 0.2);}
.shop .shop-notice { padding: 40px 30px; background: #F5F5F5; border-radius: 12px;}
.shop .shop-notice p { font-size: 16px; font-weight: 500; line-height: 23px; color: #333333; margin-bottom: 4px;}
.shop .shop-notice ul li { display: grid; grid-template-columns: 0 1fr; grid-gap: 12px; align-items: start; font-size: 15px; font-weight: 400; line-height: 30px; color: #666666; word-break: keep-all;}
.shop .shop-notice ul li::before { content: attr(data-icon);}
.shop .pass-shop { display: flex; flex-wrap: wrap; margin-bottom: 50px;}
.shop .pass-shop .shop-box { display: flex; flex-direction: column; align-items: center; width: 400px; height: 482px; margin-top: 30px; margin-right: 25px; padding-top: 35px; background: #333333; border-radius: 12px;}
.shop .pass-shop .shop-box:nth-child(2n) { margin-right: 0;}
.shop .pass-shop .shop-box img.moon { margin-bottom: 24px;}
.shop .pass-shop .shop-box p.title { font-size: 28px; font-weight: 700; line-height: 41px; color: #FFFFFF;}
.shop .pass-shop .shop-box .benefits { width: 100%; margin: auto 0; padding: 0 40px;}
.shop .pass-shop .shop-box .benefits ul { width: 100%; padding: 16px 0; background: #404040; border-radius: 4px;}
.shop .pass-shop .shop-box .benefits ul li { display: flex; align-items: center; font-size: 16px; font-weight: 500; line-height: 23px; color: #D0D0D0; padding-left: 70px;}
.shop .pass-shop .shop-box .benefits ul li span { color: #6BFFF5;}
.shop .pass-shop .shop-box .benefits ul li img { margin-right: 8px;}
.shop .pass-shop .shop-box .price { display: flex; align-items: baseline; text-align: center; font-size: 20px; font-weight: 500; line-height: 29px; color: #A8A8A8;}
.shop .pass-shop .shop-box .price strong { font-size: 40px; font-weight: bold; line-height: 54px; color: #FFFFFF; margin-left: 10px;}
.shop .pass-shop .shop-box .price strong span { font-size: 20px; font-weight: 400;}
.shop .pass-shop .shop-box .btn { display: flex; align-items: center; justify-content: center; width: 100%; height: 62px; margin-top: 25px; font-size: 18px; font-weight: 700; line-height: 26px; color: #FFFFFF; background: #562BD1; border-radius: 0 0 12px 12px;}